p {
    margin-bottom: 1rem;
}
.counter {
    &.alternative {
        background: orange;
    }
    padding: 10px;
    .counter-controls {
        display: inline-block;
        margin-left: 10px;
        button {
            margin-right: 4px;
        }
    }
}
